{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profil.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

  WELCOME PROFIL !

    <a href="{{ path('homepage') }}">HOME</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
